/** 全局样式 **/
*{
    margin:0px;
    padding:0px;
}
body{
    font-size:14px;
}
a{
    text-decoration: none;
    color:#fff;
	font-size: 18px;
}
li{
    list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
    clear:both;
}
/** index.html **/
.main{
    width:1200px;
    height:750px;
    margin:0px auto;
    background:#ccc;
}
.title{
    font-size:28px;
    margin:40px 0px;
    text-align: center;
}
li{
    width:292px;
    height:594px;
    background:#ddd;
    float:left;
}
.ml10{
    margin-left:10px;
}
.mt10{
    margin-top:10px;
}
.desc{
	margin-top: -35px;
	margin-left: 10px;
}
.bbox{
    width:292px;
    height:292px;
    background:#f00;
}
.sbox{
      width:141px;
    height:141px;
    background:#0ff;
}
.mbox{
    width:292px;
    height:141px;
    background:#0f0;
}
